ipcheck() {
  if [ -z $1 ]; then
    echo "project-env-service?"
  else
    echo $(aws ec2 describe-instances --filters Name=tag:Name,Values="*$1*" --query "Reservations[*].Instances[*].PrivateIpAddress" --output text 2>/dev/null)
  fi
}

# personal env exports switch

unsetaws() {

  unset AWS_DEFAULT_REGION AWS_PROFILE TF_VAR_aws_account_num TF_VAR_aws_account

}

prod() {

  unsetaws

  export AWS_DEFAULT_REGION=eu-west-2
  export AWS_PROFILE=prod

  export TF_VAR_aws_account=prod
  export TF_VAR_aws_account_num=510505205118

  . $HOME/git/jumpbox-client/client/awsauth.sh $AWS_PROFILE
}

nonprod() {

  unsetaws

  export AWS_DEFAULT_REGION=eu-west-2
  export AWS_PROFILE=nonprod

  export TF_VAR_aws_account=nonprod
  export TF_VAR_aws_account_num=562370771964

  . $HOME/git/jumpbox-client/client/awsauth.sh $AWS_PROFILE
}

dev() {

  unsetaws

  export AWS_DEFAULT_REGION=eu-west-2
  export AWS_PROFILE=dev

  export TF_VAR_aws_account=dev
  export TF_VAR_aws_account_num=084207842491

  . $HOME/git/jumpbox-client/client/awsauth.sh $AWS_PROFILE

}
