ipcheck() {
  if [ -z $1 ]; then
    echo "project-env-service?"
  else
    echo $(aws ec2 describe-instances --filters Name=tag:Name,Values="*$1*" --query "Reservations[*].Instances[*].PrivateIpAddress" --output text 2>/dev/null)
  fi
}

# personal env exports switch

unsetaws() {

  unset AWS_DEFAULT_REGION AWS_PROFILE TF_VAR_aws_account_num TF_VAR_aws_account

}

prod() {

  unsetaws

  export AWS_DEFAULT_REGION=eu-west-2

  export TF_VAR_aws_account=prod
  export TF_VAR_aws_account_num=510505205118

  . $HOME/git/jumpbox-client/client/awsauth.sh prod
}

mgmt() {

  unsetaws

  export AWS_DEFAULT_REGION=eu-west-2

  export TF_VAR_aws_account=prod
  export TF_VAR_aws_account_num=510505205118

  . $HOME/git/jumpbox-client/client/awsauth.sh mgmt
}

nonprod() {

  unsetaws

  export AWS_DEFAULT_REGION=eu-west-2

  export TF_VAR_aws_account=nonprod
  export TF_VAR_aws_account_num=562370771964

  . $HOME/git/jumpbox-client/client/awsauth.sh nonprod
}

dev() {

  unsetaws

  export AWS_DEFAULT_REGION=eu-west-2

  export TF_VAR_aws_account=dev
  export TF_VAR_aws_account_num=084207842491

  . $HOME/git/jumpbox-client/client/awsauth.sh dev

}

#AWS Profile
prompt_aws() {
  local spaces="  "

  if [[ -n "$AWS_PROFILE" ]]; then
    local current_timestamp=$(date +%s)
    local valid_until=$(aws configure get aws_expiration --profile $AWS_PROFILE 2>/dev/null)
    local valid_until_timestamp=$(TZ=GMT+0:00 date -j -f "%Y-%m-%dT%H:%M:%S" ${valid_until} +%s 2>/dev/null)

    if [[ $current_timestamp -le $valid_until_timestamp ]]; then
      # Token is still valid
      time_diff="~$(( ($valid_until_timestamp - $current_timestamp) / 60 ))min"
      BULLETTRAIN_AWS_BG='green'
      CONTENT="$BULLETTRAIN_AWS_PREFIX$spaces$AWS_PROFILE $time_diff"
    else
      # Token expired
      BULLETTRAIN_AWS_BG='red'
      CONTENT="$BULLETTRAIN_AWS_PREFIX$spaces$AWS_PROFILE"
    fi

    prompt_segment $BULLETTRAIN_AWS_BG $BULLETTRAIN_AWS_FG "$CONTENT"

  fi
}
