ipcheck() {
  if [ -z $1 ]; then
    echo "project-env-service?"
  else
    echo $(aws ec2 describe-instances --filters Name=tag:Name,Values="*$1*" --query "Reservations[*].Instances[*].PrivateIpAddress" --output text 2>/dev/null)
  fi
}

# personal env exports switch

unsetaws() {

  unset AWS_DEFAULT_REGION AWS_PROFILE TF_VAR_aws_account_num TF_VAR_aws_account

}

prod() {

  unsetaws

  export AWS_DEFAULT_REGION=eu-west-2
  export AWS_PROFILE=prod

  export TF_VAR_aws_account=prod
  export TF_VAR_aws_account_num=510505205118

  tmux set-option status-style fg=black,bg=red

  mawsauth $AWS_PROFILE
}

nonprod() {

  unsetaws

  export AWS_DEFAULT_REGION=eu-west-2
  export AWS_PROFILE=nonprod

  export TF_VAR_aws_account=nonprod
  export TF_VAR_aws_account_num=562370771964

  tmux set-option status-style fg=black,bg=white

  mawsauth $AWS_PROFILE

}

dev() {

  unsetaws

  export AWS_DEFAULT_REGION=eu-west-2
  export AWS_PROFILE=dev

  export TF_VAR_aws_account=dev
  export TF_VAR_aws_account_num=084207842491

  tmux set-option status-style fg=black,bg=green

  mawsauth $AWS_PROFILE

}

mawsauth() {

  # security delete-generic-password -a ${USER} -s azuread
  # security add-generic-password -a ${USER} -s azuread -w

  export AZURE_DEFAULT_PASSWORD=$(security find-generic-password -a $USER -s azuread -w)

  if [ -z $1 ]; then
    aws-azure-login --no-prompt --all-profiles
  else
    AWS_PROFILE=$1
    aws sts get-caller-identity &>/dev/null
    IS_SESSION_VALID=$?

    if [ $IS_SESSION_VALID -ne 0 ]; then
      echo "refreshing $1 creds"
      aws-azure-login --no-prompt --profile $1
    fi
  fi

  unset AZURE_DEFAULT_PASSWORD

}
